[Unit]
Description=Telegram VPN Sales Bot
After=network.target

[Service]
Type=simple
# مسیر پوشه‌ای که bot.py و .env داخلش است را اینجا بگذار
WorkingDirectory=/opt/telegram-bot
# مسیر پایتون داخل virtualenv را اینجا بگذار
ExecStart=/opt/telegram-bot/venv/bin/python3 /opt/telegram-bot/bot.py
Restart=always
RestartSec=5
User=root
StandardOutput=append:/opt/telegram-bot/bot.log
StandardError=append:/opt/telegram-bot/bot.log

[Install]
WantedBy=multi-user.target
